* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@color: #47cecb;
@colors:#6AD0CE;
@ocolor: #FFA74F;
@ocolorp:#FF870F;
@hcolor:#5a5a5a;
@lcolor:#e4e7ed;
@bcolor:#000;
html,
body,
#app{
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: "Microsoft YaHei";
    font-size: 14px;
    color: #666;
}
.content ,.scrollbar {
    width: 100%;
    height: 100%;
}
.bgfffcontent{
    width: 100%;
    height: 100%;
    background: #fff;
}
.prelative{
    position: relative;
}
a{
    text-decoration: none;
    cursor: pointer;
}
a:hover{
    text-decoration: underline; 
}
ul,li{
    list-style: none;
}
.fr{
    float: right;
}
.fl{
    float: left;
}
.mb15{
    margin-bottom: 15px;
}
.mb10{
    margin-bottom:10px; 
}
.mt20{
    margin-top: 20px;
}
.mt25{
    margin-top: 25px;
}
.mt10{
    margin-top: 10px;
}
.mb5{
    margin-bottom: 5px;
}
.ml5{
    margin-left: 5px;
}
.mr10{
    margin-right: 10px;
}
.ml15{
    margin-left: 15px;
}
.mr25{
    margin-right: 25px;
}
.mb25{
    margin-bottom: 25px;
}
.pdb10{
    padding-bottom: 10px;
}
.pd25{
    padding: 25px;
}
.none-radius{
    border-radius: 0px;
}
.mycenter-pd{
    padding: 25px 50px 25px 15px;
}
em{
    font-style: normal;
}
.flex{
    display: flex;
}
.text-center{
    text-align: center;
}
.color999{
    color: #999;
}
.font12{
    font-size: 12px;
}
.bgfff{
    background: #fff;
}
.color{
    color: @color;
}
.bg{
    background: @color;
}
.ocolor{
    color: @ocolor;
}
.obg{
    background: @ocolor;
}
.hcolor{
    color: @hcolor;
}
.ocolorp{
    color: @ocolorp;
}
.overhidden{
    overflow: hidden;
}
.box-shadow{
    box-shadow: 0 0 5px #61896E;
}
.box-shadow-card{
    box-shadow: 0 0 5px #e8e8e8;
}
.appcontent{
    width: 1000px;
    margin: 0 auto;
}
.info-box{
    width: 100%;
    height: auto;
    color: @ocolor;
    border: 1px solid @ocolor;
    font-size: 12px;
    padding: 5px 10px;
    line-height: 16px;
}
.info-border{
    width: 100%;
    height: auto;
    border-bottom: 1px solid @color;
    padding-bottom: 10px;
    margin-bottom: 30px;
    font-size: 12px;
}
.main{
    width: 770px;
    padding: 26px 5px 5px 5px;
}
.side{
    width: 230px;
    padding: 5px 45px 5px 5px;
    .side-center-info{
        padding: 10px 20px 20px;
        .side-center-img{
            img{
                width: 50px;
            }
        }
        .side-center-user{
            font-weight: bold;
            p{
                margin-bottom: 10px;
            }
            .discuss{
                color: #999;
                font-size: 16px;
            }
            .number{
                background: @color;
                color: #fff;
                padding: 1px 6px;
            }
        }
        .pay{
            margin: 30px 0 16px 0;
            p{
                font-size: 12px;
                span{
                    font-size: 22px;
                    margin-right: 5px;
                }
            }
            .content{
                font-size: 14px;
            }
        }
        .product{
            line-height: 22px;
            color: @hcolor;
        }

    }
    .side-policy{
        padding: 10px 0;
        font-size: 14px;
        line-height: 22px;
        a{
            display: block;
        }
    }
    .side-info{
        padding: 15px;
        p{
            width: 100%;
            padding: 8px 0;
            color: #fff;
            text-align: center;
            cursor: pointer;
        }
        .jr{
            background: #3a8ee8;
        }
        .jr:hover{
            background: #5298E3;
        }
        .xd{
            background: @color;
        }
        .xd:hover{
            background: @colors;
        }
    }
}
.top{
    justify-content: space-between;
    color: #fff;
    font-weight: bold;
    font-style: italic;
    .top-info{
        height: 55px;
        line-height: 65px;
        .btn{
            cursor: pointer;
            margin-left: 15px;
            display: inline-block;
            color: #fff;
        }
        .btn:hover{
            text-decoration: underline;
        }
        .button{
            background: #fff;
            width: 66px;
            height: 20px;
            color: @color;
            border-radius: 5px;
            line-height: 20px;
            text-align: center;
            font-style: normal;
        }
    }
}
.main-box{
    width: 100%;
    height: 1100px;
    padding:  25px 0px 50px 25px;
    .main-top{
        font-weight: bold;
        border-bottom: 1px solid @color;
        .main-top-info{
            height: 45px;
            line-height: 60px;
            text-indent: 10px;
            font-size: 16px;
            .separate{
                margin: 0 5px;
            }
            
        }
        .main-top-moreinfo{
            height: 68px;
            .img-info span{
                height: 68px;
                line-height: 80px;
                margin-left: 10px;
                font-style: italic;
                color: @hcolor;
            }
        }
    }
}
.index-form{
    border-bottom: 1px solid @color;
    padding: 30px 15px 10px;
    .more .el-radio:nth-of-type(9){
        margin: 8px 0 0 0 !important;
    }
}
.index-con{
    .index-con-box{
        padding: 20px 15px;
        display: flex;
        border-bottom: 1px solid @lcolor;
        justify-content: space-between;
        .index-con-box-info{
            width: calc(100% - 120px);
            em{
                margin: 0 10px;
            }
            .index-con-box-infotop{
                background: @color;
                color: #fff;
                padding: 6px 15px;
                border-radius: 5px;
                display: inline-block;
                margin-bottom: 11px;
            }
            .index-con-box-infobottom{
                .text{
                    margin: 0 5px 0 0;
                }
            }
            

        }
        .index-con-box-btn{
            text-align: right;
        }
    }
}
.form-info{
    font-size: 12px;
    color: #999;
}
.form-submit{
    width: 100%;
    padding: 15px 0;
    font-size: 16px;
}
.form-title .el-form-item__label{
    color: @color;
    text-align: left;
}
.box-card{
    margin-bottom: 15px;
    .box-card-title{
        color: @color;
        display: flex;
        justify-content: space-between;
        padding: 10px 15px;
        border-bottom: 1px solid @color;
    }
    .box-card-con{
        padding: 20px 15px;
        .userinfo{
            border-color: #E4E7ED;
            margin-bottom: 15px;
        }
        .box-card-conbtn{
            justify-content: space-between;
            line-height: 28px;
        }
    }
    .box-card-step{
        padding-top: 10px;
        display: flex;
        .title{
            color: #666;
            width: 72px;
            line-height: 60px;
        }
        .steps{
            width: calc(100% - 72px);
        }
    }
}
.card-center{
    justify-content: space-between;
    border-bottom: 1px solid @lcolor;
    padding-bottom: 10px;
    .card-center-box{
        width: calc(100% - 90px);
        color: #666;
        line-height: 24px;
        img{
            float: left;
            margin-right: 15px;
        }
    }
}

.index-detail-top{
    font-size: 18px;
    margin: 30px 0 15px 0;
    padding-left: 20px;
}
.index-detail-box{
    line-height: 22px;
    .index-detail-box-con{
        display: flex;
        i{
            margin: 0 8px;
            img{
                width: 7px;
                height: 8px;
            }
        }
    }
    .index-detail-box-title{
        color: @color;
        font-weight: bold;
        padding-left: 22px;
        margin: 30px 0 5px 0;
    }
    .index-detail-box-steps{
        color: @ocolor;
        padding-left: 22px;
        em{
            margin: 0 12px;
        }
    }
    &.index-detail-card{
        margin: 15px 0;
        padding: 20px 15px 0;
        border-bottom: 1px solid @lcolor;
        border-top: 1px solid @lcolor;
        .card-center{
            border: none;
            .card-center-box{
                width: calc(100% - 140px);
                .btn{
                    background: @color;
                    color: #fff;
                    font-size: 12px;
                    padding: 2px 6px;
                    border-radius: 3px;
                    margin-right: 15px;
                }
            }
        }
    }
    .index-detail-box-btn{
        width: 280px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        color: #fff;
        background: @ocolorp;
        border-radius: 5px;
        margin-bottom: 10px;
        display: block;
        cursor: pointer;
        &:hover{
            background: @ocolor;
            text-decoration: none;
        }
    }
}

.form-noborder{
    .el-input__inner{
        border: none;
    }
    .form-bborder{
        border-bottom: 1px solid #DCDFE6;
    }
}


.login{
    width: 600px;
    background: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -300px auto auto -300px;
    padding: 10px 0 40px 0;
    .login-top{
        text-align: center;
        margin-bottom: 30px;
        img{
            width: 420px;
        }
    }
}

.avatar-uploader{
    width: 100%;
    height: 100%;
    border: 1px dashed #d9d9d9;
    &:hover{
        border-color: @color;
        .avatar-uploader-icon{
            color: @color;
        }
    }
    .avatar-uploader-icon {
        font-size: 32px;
        color: #8c939d;
        width: 100%;
        height: 100%;
        line-height: 150px;
        text-align: center;
    }
    .avatar {
        width: 100%;
        height: 100%;
        max-height: 150px;
        display: block;
    }
}

.select-city{
    height: 45px;
    line-height: 45px;
    border-top: 1px solid #e4e7ed;
    border-bottom: 1px solid #e4e7ed;
    margin-top: 15px;
    .addr{
        font-size: 14px;
        margin-left: 10px;
        i{
            font-size: 16px;
            vertical-align: middle;
        }
    }
    .addrbtn{
        background: #999;
        color: #fff;
        font-size: 12px;
        padding: 2px 5px;
        border-radius: 3px;
        cursor: pointer;
        &:hover{
            background: #a9a9a9;
        }
    }
    
}
.gray-info{
    color: #999;
    line-height: 22px;
}
.product-deadline{
    width: 355px;
    height: 66px;
    position: relative;
    .el-radio--mini.is-bordered{
        margin-bottom: 5px;
    }
    .radio-deadline{
        margin-left: 0 !important;
    }
    .deadline{
        position: absolute;
        bottom: 5px;
        left: 145px;
    }
}
