/* #ifdef APP-PLUS */
.top-nav{
	height: 75px;
	padding-top: 25px;
}
/* #endif */

/*每个页面公共css */
page {
	min-height: 100%;
	display: flex;
	font-size: 14px;
	background: #EFEFEF;
	color: #666;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.text-center{
	text-align: center;
}
a{
	text-decoration: none;
	cursor: pointer;
}
.color{
	color: #40a563;
}
.ml15{
	margin-left: 15px;
}
.mt15{
	margin-top: 15px;
}
.pd15{
	padding: 15px;
}
.mb5{
	margin-bottom: 5px;
}
.mb10{
	margin-bottom: 10px;
}
.bgfff{
	background: #fff;
}
.flex{
	display: flex;
	justify-content: space-between;
}
.content{
	width: 100%;
	height: 100%;
}
.nav-placeholder{
	width: 100%;
	height: 50px;
}
.bottomnav-placeholder{
	width: 100%;
	height: 45px;
}
.content-app{
	width: 100%;
	height: calc(100% - 50px);
}
.content-navapp{
	width: 100%;
	height: calc(100% - 100px);
}
.top-nav{
	padding-top: 0px;
	width: 100%;
	height: 50px;
	line-height: 50px;
	position: fixed;
	background: #fff;
	z-index: 9;
	color: #40a563;
	font-weight: bold;
}
