* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#app{
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #EFF1F6;
}
.content ,.scrollbar {
    width: 100%;
    height: 100%;
}
.bgfffcontent{
    width: 100%;
    height: 100%;
    background: #fff;
}
.prelative{
    position: relative;
}
a{
    text-decoration: none;
}
ul,li{
    list-style: none;
}
.fr{
    float: right;
}
.fl{
    float: left;
}
.pd20{
    padding: 20px;
}
.ml10{
    margin-left: 10px;
}
.pdlr20{
    padding: 0 20px 0 20px;
}
.pt20{
    padding-top: 20px;
}
.pb20{
    padding-bottom: 20px;
}
em{
    font-style: normal;
}
.mb20{
    margin-bottom: 20px;
}
